/target
/classes
/checkouts
resources/scratch/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
*~
.calva/
.clj-kondo/
.lsp/
resources/scratch.lsp
Sysout*.lsp
*.pdf

src/beowulf/scratch.clj

.portal/vs-code.edn
